html
{
    width:100vw;
}


.blueButton
{
    background-color:#0A3871;
    color:#E5E5E5;
    border-radius:1.71vw;/*24px*/
    border: .11vw solid #0A3871;
}

.whiteButton
{
    background-color:#E5E5E5;
    color:#0A3871;
    border: .11vw solid #0A3871;
    border-radius:1.71vw;/*24px*/

}

#aluraLogo
{
    display:block;
    width:2.15%;
    height:4.68%;
    position:absolute;
    left:5.83%;
    top:3.90%;
    
}


#initGameButton
{
    width:22%;
    height:11.12%;
    font-size:1.125rem;
    overflow:hidden;
    position:absolute;
    top:39.25%;
    right:39.022%;
    
}

#addWordButton
{
    width:19.44%;
    height:6.54%;
    font-size:1rem;
    position:absolute;
    box-sizing: border-box;
    overflow:hidden;
    word-wrap:break-word;
    bottom:39.35%;
    right:40.34%;


}